@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Bevan&family=Grandstander:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Baloo2';
    src: url(../static/fonts/Baloo2-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Algerian';
    src: url(../static/fonts/Algerian\ Regular.ttf);
}
@font-face {
    font-family: 'Arial';
    src: url(../static/fonts/Arial-Font/arial\ 1.ttf);
}
